@model IEnumerable<Ecotourism.Models.GeoPoints>
@{
	@Styles.Render("~/Content/lending");
	@Styles.Render("~/Content/map");
}
<script>if (window.href !== '') window.href = '';</script>
<header class="header">
	<div class="container header-nav-container">
		<button class="button nav-button" onclick="window.location.href = '#regions';">Регионы</button>
		<button class="button nav-button" onclick="window.location.href = 'rating';">Рейтинг</button>
		<button class="button nav-button" onclick="window.location.href = '#about';">О проекте</button>
	</div>
	<div class="container intro-container">
		<h1 class="intro-h">Экотуризм<br>в России</h1>
		<button class="button intro-button">Подробнее</button>
	</div>
</header>
<main class="main">
	<div class="container">
		<section class="map">
			<div id="map" class="container map-container">
				<div id="osmPanel" style="display:none;left:250px;position:absolute;background:border-box;background-color:white;width:250px;border:dashed;border-color:black;z-index:999">
					<div id="drawContainer"></div>
				</div>
				<div id="infoContainer" style="display:none;justify-content: center;flex-direction: column;align-items: center;padding: 20px;">
					<div id="nameInfoLabel" class="infoLabel">
						Name
					</div>
					<div id="descriptionInfoLabel" class="infoLabel" style="height:80%;text-align: start;font-size: medium;max-width: fit-content;">
						Description
					</div>
					@*@Html.ActionLink("Подробнее", "point", "Home", new { area = "", id=2 }, new { @class = "button regions-button" })*@
					<a id="openSelectedPoint" class="button regions-button" href="/Home/point/0">Подробнее</a>
				</div>
				<div id="demoMap" style="height:100%"></div>


				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
				<script src="~/Scripts/map/OpenLayers.js"></script>
				<script src="~/Scripts/map/proj4.js"></script>
				<script src="~/Scripts/map/osmPlugin.js"></script>
				<script src="~/Scripts/map/osmPluginTools.js"></script>
				<script src="~/Scripts/map/displayPanel.js"></script>
				<script>

					// scroll fix
					document.getElementById("demoMap").addEventListener('wheel', function (e) {
						e.preventDefault();
					}, { passive: false });

					osmPlugin.init();
					osmPluginTools.onPointCreated.add(function (e) {
						console.log('[PointCreated]: lon: ' + e.lon + ', lat: ' + e.lat);
					});

					//$.getJSON('/Content/json/testConfig2.json', function (data) {
					//	let points = data.features;
					//	let groupedPoints = [];
					//	var source = new proj4.Proj('EPSG:4326');
					//	var dest = new proj4.Proj('EPSG:3785');
					//	for (let i = 0; i < points.length; i++) {
					//		let grouped = false;
					//		for (let j = 0; j < groupedPoints.length; j++) {
					//			if (points[i].properties.NAME_EN === groupedPoints[j][0].properties.NAME_EN) {
					//				groupedPoints[j].push(points[i]);
					//				grouped = true;
					//				break;
					//			}
					//		}
					//		if (!grouped)
					//			groupedPoints.push([points[i]]);
					//	}
					//	for (let i = 0; i < groupedPoints.length; i++) {
					//		let coordinates = [0, 0];
					//		for (let j = 0; j < groupedPoints[i].length; j++) {
					//			coordinates[0] += groupedPoints[i][j].geometry.coordinates[0];
					//			coordinates[1] += groupedPoints[i][j].geometry.coordinates[1];
					//		}
					//		coordinates[0] /= groupedPoints[i].length;
					//		coordinates[1] /= groupedPoints[i].length;
					//		let imPath = groupedPoints[i][0].properties.NAME_EN.endsWith('.jpg') ? groupedPoints[i][0].properties.NAME_EN : (groupedPoints[i][0].properties.NAME_EN + '.png');
					//		//'INSERT INTO [dbo].[GeoPoints] ([Id], [Lon], [Lat], [Name], [Description], [ImagePath]) VALUES (1, 42.59813, 43.34302, N'Приэльбрусье', N'Описание', N'Prielbrusie.png')'
					//		//let strToAdd = "INSERT INTO [dbo].[GeoPoints] ([Id], [Lon], [Lat], [Name], [Description], [ImagePath]) VALUES (" +
					//		//	i + ", " + coordinates[0] + ", " + coordinates[1] + ", N'" +
					//		//	groupedPoints[i][0].properties.NAME_RU + "', N'" + groupedPoints[i][0].properties.DESCRIPTION + "', N'" + imPath + "')\n";
					//		//console.log(strToAdd);
					//		//query += strToAdd;

					//		let p = proj4.toPoint(coordinates);
					//		//console.log(p);
					//		p = proj4.transform(source, dest, p);
					//		osmPlugin.addPoint(p.x, p.y, null, groupedPoints[i][0]);
					//	}
					//});

					var source = new proj4.Proj('EPSG:4326');
					var dest = new proj4.Proj('EPSG:3785');
					let points = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
					for (var i = 0; i < points.length; i++) {
						let p = proj4.toPoint([points[i].Lon, points[i].Lat]);
						p = proj4.transform(source, dest, p);
						osmPlugin.addPoint(p.x, p.y, null, {
							properties: {
								"NAME_RU": points[i].Name,
								"NAME_EN": points[i].ImagePath,
								"DESCRIPTION": points[i].Description,
								"NAME_P_RU": null,
								"ID": points[i].Id
							}
						});
					}

				</script>
			</div>
		</section>
		<section id="regions" class="regions">
			<div class="container regions-container">
				<img src="~/Content/img/Dalny.jpg" class="regions-img">
				<div class="regions-container-description">
					<h3 class="regions-container-h">Дальневосточный регион</h3>
					<p class="regions-container-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
					@Html.ActionLink("Подробнее", "dalny", "Home", new { area = "" }, new { @class = "button regions-button" })
				</div>
			</div>
			<div class="container regions-container">
				<img src="/Content/img/Sibir.jpg" class="regions-img">
				<div class="regions-container-description">
					<h3 class="regions-container-h">Сибирский регион</h3>
					<p class="regions-container-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
					@Html.ActionLink("Подробнее", "sibir", "Home", new { area = "" }, new { @class = "button regions-button" })
				</div>
			</div>
			<div class="container regions-container">
				<img src="~/Content/img/Ural.jpg" class="regions-img">
				<div class="regions-container-description">
					<h3 class="regions-container-h">Уральский регион</h3>
					<p class="regions-container-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
					@Html.ActionLink("Подробнее", "ural", "Home", new { area = "" }, new { @class = "button regions-button" })
				</div>
			</div>
			<div class="container regions-container">
				<img src="~/Content/img/Zapad.jpg" class="regions-img">
				<div class="regions-container-description">
					<h3 class="regions-container-h">Северо-Западный регион</h3>
					<p class="regions-container-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
					@Html.ActionLink("Подробнее", "zapad", "Home", new { area = "" }, new { @class = "button regions-button" })
				</div>
			</div>
			<div class="container regions-container">
				<img src="~/Content/img/Privolzh.jpg" class="regions-img">
				<div class="regions-container-description">
					<h3 class="regions-container-h">Приволжский регион</h3>
					<p class="regions-container-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
					@Html.ActionLink("Подробнее", "privolzh", "Home", new { area = "" }, new { @class = "button regions-button" })
				</div>
			</div>
			<div class="container regions-container">
				<img src="~/Content/img/Center.jpg" class="regions-img">
				<div class="regions-container-description">
					<h3 class="regions-container-h">Центральный регион</h3>
					<p class="regions-container-text">На территории округа берут начало такие крупные реки Европы как Волга, Дон, Днепр. Преобладающая часть территории ЦФО принадлежит бассейнам рек Волги и Дона. Территория округа равнинная, расположена в нескольких природных зонах — хвойных, смешанных и широколиственных лесов, лесостепей и степей. Лесистость региона уменьшается с севера на юг. В Костромской области она составляет – около 70%, В Воронежской области – не превышает 10%. С севера на юг в структуре земель растет доля пашни.</p>
					@Html.ActionLink("Подробнее", "center", "Home", new { area = "" }, new { @class = "button regions-button" })
				</div>
			</div>
			<div class="container regions-container">
				<img src="~/Content/img/Ug.jpg" class="regions-img">
				<div class="regions-container-description">
					<h3 class="regions-container-h">Южный регион</h3>
					<p class="regions-container-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
					@Html.ActionLink("Подробнее", "ug", "Home", new { area = "" }, new { @class = "button regions-button" })
				</div>
			</div>
			<div class="container regions-container">
				<img src="~/Content/img/Kavkaz.jpg" class="regions-img">
				<div class="regions-container-description">
					<h3 class="regions-container-h">Северо-Кавказский регион</h3>
					<p class="regions-container-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
					@Html.ActionLink("Подробнее", "kavkaz", "Home", new { area = "" }, new { @class = "button regions-button" })
				</div>
			</div>
		</section>
		<section id="about" class="about">
			<div class="container about-container">
				<h2 class="about-h">Экотуризм в России</h2>
				<p class="about-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
			</div>
		</section>
	</div>
</main>